# Ignore node modules for both frontend and backend
node_modules/
client/node_modules/
server/node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build files
client/build/
dist/

# OS-specific files
.DS_Store
Thumbs.db

# Environment variables
.env
client/.env
server/.env

# Misc
*.local
*.cache
.cache/
.next/
coverage/

# IDEs and editors
.vscode/
.idea/
*.swp

# Optional: Ignore test snapshots or output
__tests__/output/
